<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <section class="contenedor_head">
    <h1>Lista de Productos</h1>
    <button id="refresh-button">Recargar Productos</button>
  </section>
  
  <section class="contenedor_productos">
    <ul>
      {{#each products}}
      <div class="contenedor_li">
        <li>
          <img src="{{this.thumbnail}}" alt="{{this.title}}" style="max-width: 200px; height: auto;">
          <div> {{this.title}}</div>
          <div>Descripcion: {{this.description}}</div>
          <div>Precio: ${{this.price}}</div>
          <div>Stock: {{this.stock}}</div>
          <div>Categoria: {{this.category}}</div>
        </li>
      </div>
      {{/each}}
    </ul>
  </section>
  <script>
    const refreshButton = document.getElementById('refresh-button');
    refreshButton.addEventListener('click', () => {
    location.reload();
    });
  </script>
</body>
</html>